<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body onload=display_ct();>
    <header>
        <div>
            <span class="pl-5">AT Auto</span>
            <div class="dropdown show pr-5" style="float: right;">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="sidebar shadow p-3">
            <ul>
                <li>
                    <a href=""><span>Dashboard</span></a>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Inventory</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Inventory</a>
                        <a class="dropdown-item" href="#">View Category</a>
                    </div>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Order</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Delivery Order</a>
                        <a class="dropdown-item" href="#">Customer Order</a>
                        <a class="dropdown-item" href="#">Supplier List</a>
                        <a class="dropdown-item" href="#">Customer List</a>
                    </div>
                </li>

                <li>
                    <a href=""><span>Status</span></a>
                </li>

                <li>
                    <a href=""><span>User</span></a>
                </li>

                <li>
                    <a href=""><span>Report</span></a>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Quotation</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Quotation</a>
                        <a class="dropdown-item" href="#">Add New Quotation</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="content">
            <div class="content-left">
                <div class="earningsTitle">
                    <h5>Earnings (Daily)</h5>
                    RM100.00
                </div>

                <div class="earningsTitle">
                    <hr style="width: auto; text-align: left; margin: 2vh 0; background-color: white;">
                    <h5>Earnings (Monthly)</h5>
                    RM12315.00
                </div>

                <div class="earningsTitle">
                    <hr style="width: auto; text-align: left; margin: 2vh 0; background-color: white;">
                    <h5>Earnings (Annually)</h5>
                    RM128093.00
                </div>
            </div>

            <div class="content-right">
                <h4>Date & Time: <span id="datetime"></span></h4>
            </div>
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript"> 
    function display_c(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct()',refresh)
    }
    
    function display_ct() {
        var x = new Date()
        var day = x.getDay()
        var weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        document.getElementById("datetime").innerHTML = weekday[day] + '<br/>' + x.toLocaleString();
        display_c();
    }
</script>

</html>