body {
    margin: 0;
    background-color: #1e1f21;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}

header {
    background-color: #31353f;
    padding: 10px;
    font-size: 30px;
    color: white;
}

.dropdown a {
    color:white;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #262a32;
    color: white;
    border-radius: 10px;
}

.dropdown-menu a:hover{
    background-color: #3a4150;
    color: white;
    border-radius: 10px;
}

.sidebar {
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 87vh;
    background-color: #31353f;
}

nav {
    float: left;
    width: 13%;
    background: #1e1f21;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: white;
}

nav a:hover {
    color: white;
    border-radius: 10px;
    background-color: #454d5f;
    text-decoration: none;
}

.content-left {
    float: left;
    margin: 3vh 0 0 0;
    padding: 2vh 3vh 0 0;
    text-align: left;
    border-right: 1px solid white;
}

.content-left ul {
    list-style-type: none;
}

