<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <span class="pl-5">AT Auto</span>
            <div class="pr-5" style="float: right;">
                hihi
            </div>
        </div>
    </header>

    <nav>
        <div class="sidebar shadow p-3">
            <ul>
                <li>
                    <a href=""><span>Dashboard</span></a>
                </li>

                <li>
                    <a href=""><span>Inventory</span></a>
                </li>

                <li>
                    <a href=""><span>Order</span></a>
                </li>

                <li>
                    <a href=""><span>Status</span></a>
                </li>

                <li>
                    <a href=""><span>User</span></a>
                </li>

                <li>
                    <a href=""><span>Report</span></a>
                </li>

                <li>
                    <a href=""><span>Quotation</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        
    </main>
</body>
</html>