body {
    margin: 0;
    background-color: #1e1f21;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}

header {
    background-color: #31353f;
    padding: 10px;
    font-size: 30px;
    color: white;
}

.dropdown a {
    color:white;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #262a32;
    color: white;
    border-radius: 10px;
    width: 18.5vh;
}

.dropdown-menu a:hover{
    background-color: #3a4150;
    color: white;
    border-radius: 10px;
}

.sidebar {
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 87vh;
    background-color: #31353f;
}

nav {
    float: left;
    width: 27vh;
    background: #1e1f21;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: white;
}

nav a:hover {
    color: white;
    border-radius: 10px;
    background-color: #454d5f;
    text-decoration: none;
}

.dropdown-item {
    font-size: 15px;
    color: white;
}

.content {
    vertical-align: auto;
}

.content-left {
    float: left;
    margin: 3vh 0 0 1vh;
    padding: 2vh 3vh 0 0;
    text-align: left;
    border-right: 1px solid white;
}

.content-left > .earningsTitle > h5 {
    text-align: left;
    background-color: #31353f;
    padding: 1vh;
    border-radius: 10px;
}

.content-left > .earningsTitle{
    font-size: 50px;
    text-align: center;
}

.content-right {
    padding-top: 5vh;
    padding-left: 66.5vh;
}

.dataTables {
    float: left;
    width: 165vh;
    margin: 1vh 0 0 2vh;
    padding: 2vh 0 0 0;
}

thead {
    background-color: #0b0c0c;
}

tbody {
    background-color: #151517;
}

tr, th {
    border-top: 2px solid #313236;
    border-bottom: 2px solid #313236;
}




