<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <span class="pl-5">AT Auto</span>
            <div class="dropdown show pr-5" style="float: right;">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="sidebar shadow p-3">
            <ul>
                <li>
                    <a href=""><span>Dashboard</span></a>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Inventory</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Inventory</a>
                        <a class="dropdown-item" href="#">View Category</a>
                    </div>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Order</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Delivery Order</a>
                        <a class="dropdown-item" href="#">Customer Order</a>
                        <a class="dropdown-item" href="#">Supplier List</a>
                        <a class="dropdown-item" href="#">Customer List</a>
                    </div>
                </li>

                <li>
                    <a href=""><span>Status</span></a>
                </li>

                <li>
                    <a href=""><span>User</span></a>
                </li>

                <li>
                    <a href=""><span>Report</span></a>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>Quotation</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Quotation</a>
                        <a class="dropdown-item" href="#">Add New Quotation</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="content">
            <div class="dataTables">
                <br>
                <h2>Quotation</h2>
                <br>
                <a href="/quotation/create" class="btn btn-danger">Add New Quotation</a>
                <table class="table table-borderless" style="margin-top: 2vh;">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Product</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantiy</th>
                        <th scope="col">Agreed price/unit</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th>{{$quotation->id}}</th>
                        <td>{{$quotation->name}}</td>
                        <td>{{$quotation->product}}</td>
                        <td>{{$quotation->description}}</td>
                        <td>{{$quotation->quantity}}</td>
                        <td>{{$quotation->agreedPriceperunit}}</td>
                        <td>{{$quotation->status->name}}</td>
                        <td><a href="{{ route('deleteQuotation', ['id' => $quotation->id]) }}" class="btn btn-danger" onclick="return confirm('Sure Want Delete?')">
                            Delete
                            </a>
                            <a href="/quotation/{{ $quotation->id }}/edit" class="btn btn-warning">
                            Edit
                            </a> </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center pt-4 pl-5">
                    {{ $quotations->links() }}
                </div>
            </div>
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>